// Colors 
  //  Primary
  $cyan:hsla(179, 76%, 39%, 0.808);
  $cyanSec:hsla(179, 62%, 43%, 0.602);
  $brightYellow: hsl(71, 73%, 54%);

  //  Neutral
  $lightGray: hsl(204, 43%, 93%);
  $grayBlue: hsl(218, 22%, 67%);
  $white:hsl(0, 34%, 99%);


// Media Queries
  $mobile : 375px;
  $tablet:768px;
  $desktop:1024px;

//  Typography
  $primaryFont: 'Karla', sans-serif;